<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AboutUs</title>
  <link rel="stylesheet" type="text/css" href="/resources/style.css">
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>

  <main>
    <ul class="breadcrumb">
      <li><a href="/index">Home </a>&gt;</li>
      <li><a href="/about"> About Us</a></li>
    </ul>
    <h1 class="align">About Us </h1>
    <br>
    <p>Swap your clothes and accessories online for free.
      Wardrobe Swap is the easiest way to swap your clothes, make new friends, and help the environment.</p>
      <p>In addition to trading clothes, Wardrobe swap allows you to get fashion and green living advice, post in forums, make friends, join groups, request items, and attent live swap events. There are plenty of other features we'll be adding as time goes.</p>
      <% include partials/footer.ejs %>
    </main>
  </body>
  </html>
