<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>WardrobeSwap</title>
    <link rel="stylesheet" type="text/css" href="/resources/style.css">
  </head>
  <body>
    <% include partials/header.ejs %>
    <% include partials/user-navigation.ejs %>
    <% include partials/site-navigation.ejs %>

    <main>
      <ul class="breadcrumb">
        <li><a href="/index">Home </a></li>
      </ul>
      <div class="cloth-image">
        <div class="cloth-text">
          <h1>Welcome to Wardrobe Swap</h1>
          <h2>Swap your clothes and accessories online for free.</h2>
          <h3>Swap Wardrobe is the easiest way to swap your clothes and help the environment. Join us and exchange your wardrobe today. Trading clothes has never been easier.</h3>
        </div>
      </div>
    </main>
    <% include partials/footer.ejs %>
  </body>
  </html>
