<!DOCTYPE html>
<html>
  <head>
    <link href="/stuffs/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Welcome </h1>
    <p>This is the homepage.</p>
  </body>
</html>
