<style>
  a{color: darkblue;}
  li{font-size: 20px; text-align: center;}
  ul{list-style-type: none; padding:0;}
</style>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
